body {
  position: relative;
  color: white;
  height: 100vh;
  background :rgb(152, 175, 214);
  font-family: sans-serif;
  font-size: 14px; 
  overflow-y: hidden;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;

}
